// Colors variables
$darkBlue: #294C6A;
$alertMessageBg: #FFF0F1;
$dangerColor: #D80004;
$linkColor: #3469E1;
$dateColor: #98A7C8;
$titleColor: #213D55;
$cardTextColor: #27303C;
$white: #fff;
$borderColor: rgba(243, 245, 248, 0.15);
$buttonSecondaryColor:  #C94D08;
$changeUserButtonColor: #2B3CB7;
$linkBorderActiveColor: #FF8A38;
$cardBorder: #3469E11A;
$activeMenuBtn: #283CB7;
$dividerBg: rgba(243, 245, 248, 0.15);
$verticalDividerBg: rgba(216, 216, 216, 0.26);
$dateLabelColor: #98A7C8;
$overlayBg: rgba(0,5,18,0.78);
$placeholderColor: #78909CFF;
$inputBorderColor: rgba(36, 76, 168, 0.08);
$errorColor: #d50b0f;
$matLabelColor: #78909C;
$dialogContainerBg: #EFF7FF;
$labelColor: #313A45;
$backDropBg:  rgba(0, 5, 18, 0.8);
$checkboxFrameColor: rgba(36, 76, 168, 0.16);
$checkboxArrowColor: #39546A;
$strokedButtonColor: #566C86;
$strokedButtonBorder: #244CA829;
$linkBorderTwo: #F3F5F8;


//Gradients
$mainBg: linear-gradient(rgba(233, 240, 254, 0.5),
  rgba(233, 240, 254, 0.5));
$headerBg:linear-gradient(180deg, #7CA3F7 -220%, #466DC6 127.24%);
$menuContentBg:linear-gradient(160.47deg, #7CA3F7 -45.01%, #244CA8 147.55%);
$buttonPrimaryBg:radial-gradient(167.5% 167.5% at 50% 10%, #FFC264 0%, #F47216 100%);
$personalAreaHoverBg: linear-gradient(rgb(124, 163, 247) -159%, rgb(54, 102, 211) 62%);
$notificationSymbolBg:linear-gradient(203.81deg, #FFC264 -2.3%, #F47216 232.57%);
$errorDialogHeaderBg: linear-gradient(165.57deg, #7CA3F7 -47.87%, #244CA8 205.97%);




//Shadows
$cardShadowColor: #0F245412;
$headerShadowColor: #143173;
$scrollBarShadowColor: #FF9B347D;
$matPanelShadowColor: rgb(15 36 84 / 15%);
$matMenuPanelShadowColor: rgba(15, 36, 84, .15);
$primaryIconShadowColor: rgba(255, 155, 52, 0.49);
$tableShadowColor: #1B3A821A;




//Hover colors
$headerMenuHoverBg: #283BB6;
$menuItemHoverBg: #4262C8;
$menuItemHoverSecondaryBg: #4465CA;


