@import "colors";
$cardShadow: 0px 4px 20px 0px $cardShadowColor;
$headerShadow: 0px 2px 40px 0px $headerShadowColor;
$frameShadow:  0px 10px 20px 0px $cardShadowColor;
$scrollbarShadow: 0px 8px 28px 0px $scrollBarShadowColor;




